.btn-hover3 {
    box-shadow: 8px 10px 0 #004b3e;
}
.btn-hover3:hover {
    box-shadow: 8px 10px 0 #ee8600;
}
.btn-hover4 {
    box-shadow: 8px 10px 0 #ee8600;
}
.btn-hover4:hover {
    box-shadow: 8px 10px 0 #004b3e;
}